body {
    border: 0;
    margin: 0;
    background: black;
}

/*Hides scrollbar, but enables scrolling IN CHROME*/
::-webkit-scrollbar {
  display: none;
}

#topBar {
    width: 100%;
    background: orange;
    margin: 0;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#topButtonUL {
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
}

.buttonLink {
  text-decoration: none;
  font-size: 1em;
}

/*All top button li*/
.topButton {
    background: gray;
    width: 20vw;
    height: 100%;
    text-align: center;
    float: left;
    display: block;
    font-family: courier;
    font-weight: bold;
    font-size: 1em;
}

/*Top bar buttons during click*/
.buttonLink:active {
    color: black;
}

/*Hover effects for top bar buttons*/
.buttonLink:hover>li {
    background: #564592;
    text-shadow: white 0.1em 0.1em 0.2em;
}

/*Home button styles*/
#homeButton {

}

/*Projects button styles*/
#projectsButton {
    position: relative;
    display: inline-block;
    text-decoration: none;
    word-wrap: break-word;
}

/*Projects dropdown boxes styling*/
.projectsButton-content {
    display: none;
    position: absolute;
    width: 100%;
    border-top: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*Links in projects button dropdown*/
.projectsButton-content a {
  word-wrap: break-word;
  text-decoration: none;
  text-shadow: none;
}

/*Links in projects button dropdown WHEN HOVERED ON*/
.projectsButton-content a:hover {
  text-shadow: white 0.1em 0.1em 0.2em;
}

/*Projects boxes when they are hovered*/
.projectsButton-content a:hover p{
  background: darkgray;
}

/*Projects button when it is hovered*/
#projectsButton:hover {
  background: #564592;
  text-shadow: white 0.1em 0.1em 0.2em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

/*Projects dropdown when projects button is hovered*/
#projectsButton:hover .projectsButton-content {
    display: block;
    background: gray;
    text-shadow: white 0.1em 0.1em 0.2em;;
}

/*Projects button dropdown boxes when projects button is hovered*/
#projectsButton:hover .projectsButton-content p{
    width: 100%;
    length: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

/*Skills button styles*/
#skillsButton {

}

/*Eperience button styles*/
#experienceButton {

}

/*Gallery button styles*/
#galleryButton {

}



.midSection {
  color: blue;
  width:  100%;
  margin: 30px auto 0 auto;
  text-align: center;
}

.slick-prev {
  left: 5px;
  z-index: 99;
}
.slick-next {
  right: 5px;
  z-index: 99;
}

/*Flip card container*/
.container {
  position: relative;
  top: 100px;
  perspective: 800px;
}

/*Picture in flipcard*/
#skillsIcon {
  width: 40%;
  height: width;
  padding: 0;
  border-radius: 50%;
  border: .25em solid gray;
}

/*Header in flip card*/
.skillsheader {
  color: #000000;
  padding: 0;
  margin: 0 auto;
}

/*List of skills in flipcard*/
.skillsUL {
  list-style: none;
  padding-left: 20%;
  padding-right: 20%;
  color: #ECF6CE;
  border-top: 0;
  margin-top: 0;
  font-size: 1em;
  word-wrap: break-word;
}

/*Spacing between each list item in skills card*/
.skillsLI {
  margin: .20em 0;
}

/*Links on back of skills flipcard*/
.skillsLink {
  margin: .20em 0;
  text-decoration: none;
  color: #ECF6CE;
}

/*Flip card styles*/
.card {
  width: 200px;
  height: 260px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/*Flip card styles applied to each side*/
.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 25px;
  text-align: center;
  padding: 5px 0;
  padding-bottom: 5px;
  border: 4px solid gray;
}

/*Front of skills flipcard*/
.card .front {
  background: #44965B;
}

/*Back of skills flipcard*/
.card .back {
  background: #44965B;
  transform: rotateY( 180deg);
}

/*First Card Flipped Class*/
.card.flipped {
  transform: rotateY( 180deg);
}
