body {
    border: 0;
    margin: 0;
    background: black;
}

/*Hides scrollbar, but enables scrolling IN CHROME*/
::-webkit-scrollbar {
  display: none;
}

#topBar {
    height: 20px;
    width: 100%;
    background: orange;
    margin: 0;
    border: 0;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#topButtonUL {
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    list-style-type: none;
}

.buttonLink {
  text-decoration: none;
  font-size: 1em;
}

/*All top button li*/
.topButton {
    background: gray;
    width: 20vw;
    height: 100%;
    text-align: center;
    float: left;
    display: block;
    font-family: courier;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
}

/*Top bar buttons during click*/
.buttonLink:active {
    color: black;
}

/*Hover effects for top bar buttons*/
.buttonLink:hover>li {
    background: #564592;
    color: black;
    text-shadow: white 0.1em 0.1em 0.2em;
}

/*Home button styles*/
#homeButton {
}

/*Projects button styles*/
#projectsButton {
    position: relative;
    display: inline-block;
    text-decoration: none;
    word-wrap: break-word;
}

/*Projects dropdown boxes styling*/
.projectsButton-content {
    z-index: 100;
    display: none;
    position: absolute;
    width: 100%;
    border-top: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*Links in projects button dropdown*/
.projectsButton-content a {
  word-wrap: break-word;
  text-decoration: none;
  text-shadow: none;
}

/*Links in projects button dropdown WHEN HOVERED ON*/
.projectsButton-content a:hover {
  text-shadow: white 0.1em 0.1em 0.2em;
}

/*Projects boxes when they are hovered*/
.projectsButton-content a:hover p{
  background: darkgray;
  color: black;
}

/*Projects button when it is hovered*/
#projectsButton:hover {
  background: #564592;
  text-shadow: white 0.1em 0.1em 0.2em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

#projectsButton:hover span {
  color: black;
  text-decoration: none;
}

#projectsSpan {
  text-decoration: none;
}

#projectsSpan:hover {
  text-decoration: none;
}

/*Projects dropdown when projects button is hovered*/
#projectsButton:hover .projectsButton-content {
    display: block;
    background: gray;
    text-shadow: white 0.1em 0.1em 0.2em;;
}

/*Projects button dropdown boxes when projects button is hovered*/
#projectsButton:hover .projectsButton-content p{
    width: 100%;
    length: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

/*Resume button styles*/
#resumeButton {
}

/*Gallery button styles*/
#galleryButton {}
}

/*Random button styles*/
#randomButton {

}

/*Spinning circles section*/
#bar {
  position: relative;
  top: 20px;
	width: 100%;
	height: 300px;
	background: #53B76F;
}

#barInfo{
  position: absolute;
  top: 10px;
  left: 0%;
}

#c1 {
    position: absolute;
		left: 17.5%;
    top: 10px;
    width:    10%; /* desired width */
}

#c1:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

#c1inner {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
		background: white;
		border-radius: 100%;
}

#shuttle{
	position: relative;
	width: 50%;
	top: 25%;
	left: 25%;
  animation-name: fullcircle;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-iteration-count: 1;
}

#c1inner:hover #shuttle {
	animation-fill-mode: forwards;
  animation-play-state: running;
}

#c1info {
  position: absolute;
  top: 10px;
  left: 27.5%;
}

#c2 {
		left: 45%;
    top: 10px;
		position: absolute;
    width:    10%; /* desired width */
}

#c2:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

#c2inner {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
		background: white;
		border-radius: 100%;
}

#dog{
	position: relative;
	width: 50%;
	top: 25%;
	left: 25%;
  animation-name: fullcircle;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-iteration-count: 1;
}

#c2inner:hover #dog {
  animation-fill-mode: forwards;
  animation-play-state: running;
}

#c2info {
  position: absolute;
  top: 10px;
  left: 55%;
}

#c3 {
    position: absolute;
		left: 72.5%;
    top: 10px;
    width:    10%; /* desired width */
}

#c3:before {
    content:     "";
    display:     block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

#c3inner {
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
		background: white;
		border-radius: 100%;
}

#doge{
	position: relative;
	width: 75%;
	top: 12.5%;
	left: 12.5%;
  animation-name: fullcircle;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-iteration-count: 1;
}

#c3inner:hover #doge {
  animation-fill-mode: forwards;
  animation-play-state: running;
}

#c3info {
  position: absolute;
  top: 10px;
  left: 82.5%;
}

.ctext {
	width: 100%;
	font-size: 1em;
	position: absolute;
	text-align: center;
  overflow: hidden;
}

.ctext:hover a{
  text-decoration: none;
}

@keyframes fullcircle{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.cinfo {
  width: 17.5%;
  height: 90%;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 12px;
  font-family: Baloo-Bhiana;
  display: none;
}

.socialMedia {
  color: gray;
  width:  30%;
  margin: 30px auto 0 auto;
  text-align: center;
  font-family: Inconsolata;
  height: 10px;
  position: relative;
}

.socialMedia i{
  font-size: 1.5em;
  height: 40%;
  display: block;
  margin: auto;
  width: 40%;
  color: gray;
}

.slick-prev {
  left: -25px;
  z-index: 99;
}

.slick-next {
  right: -25px;
  z-index: 99;
}

#meh {
  position: relative;
  background: #8AAAE8;
  height: 150vh;
}

#bottomNav {
  z-index: 200;
  background: #E1FFFB;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 90vh;
  left: 0;
}
