*{
  box-sizing: border-box;
  padding-right: 0px;
}

#topHeader {
  height: 180px;
  background: orange;
}

#headerCenter {
  width: 136px;
  height: 180px;
  margin: 0 auto;
  display: block;
}

#headerDoge {
  position: relative;
  top: 40px;
  width: 100%;
  height: 100px;
}

#topSlideshow {
  height: 50vh;
}

#dogeCircle img{
  height: 50%;
  width: 30%;
}

.slick-prev {
  top: 22.5vh;
  left: 60px;
  z-index: 25;
}

.slick-prev:before {
  content: url("leftarrow.png");
}

.slick-next {
  top: 22.5vh;
  right: 100px;
  z-index: 25;
}

.slick-next:before {
  content: url("rightarrow.png");
}

.slick-dots {
  bottom: 20px;
  z-index: 25;
}

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #6498ae;
    opacity: 1;
}

.slick-dots li.slick-active button:before{
  color: #ffffff;
}
